.contanier {
    width: 70%;
    margin: 12px auto;
    text-align: center;
    background-color: bisque;
    border-style: solid;
    display: block;

}


.title {
    background-color: rgb(11, 11, 41);
    color: white;
    border-radius: 0.8rem;
    padding: 6px 1rem;
    margin: 6px 6px;
    height: 50px;
    font-size: 32px;
    border-style: dotted;
}


#imgs img {
    width: 60%;
    padding: 5px;
    margin-left: 12px;
    background-color: rgb(156, 211, 245);
}


.autoplay {
    background-color: rgb(10, 5, 83);
    padding: 20px;
    margin: 15px auto;
    margin-left: 10%;
    margin-right: 10%;


}

.autoplay img {
    align-items: center;
    background-color: rgb(209, 73, 168);
    max-width: 100%;
    max-height: 100%;
}


#imgs-2 {
    background-color: rgb(231, 92, 173);
    padding: 10px;
    margin: 30px auto;
    margin-left: 10%;
    margin-right: 10%;
}

#imgs-2 img {
    background-color: white;
    width: 30%;
}





.info-1 {
    text-align: center;
    margin: 0px auto;
    padding: 15px;
    font-size: 25px;
    font-family: 標楷體;
    background-color: bisque;
    border-style: dashed;
    border-left: none;
    border-right: none;
}

.info-1 h1,
p {
    margin: 0% auto;
}

.info h2 {
    font-size: 35px;
    font-family: "標楷體";
    margin-top: 5px;
    text-align: left;
}

.info li {
    text-align: left;
    margin: 10px 20px;
    font-size: 30px;
    font-family: "標楷體";
    padding-right: 120px;
    padding-left: 0%;
    list-style: none;
}


.info ul {
    padding-left: 20px;
}

#hr {
    margin: 0%;
}




.mail {
    width: 100%;
}

.text-img {
    display: flex;
    align-items: center;
}

.listProgram .bar {
    width: 150px;
    height: 10px;
    border: solid 2px #FF7168;
    border-radius: 5px
}



.listProgram li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;

}

.value {
    height: 100%;
    width: 60%;
    background-color: #FF7168;
}


.value.p40 {
    width: 65%;
}

.value.p50 {
    width: 40%;
}

.info-0 {
    text-align: left;
    margin: 15px auto;
    padding: 15px;
    display: inline-block;
    font-size: 25px;
    font-family: 標楷體;
    background-color: bisque;
    border-style: dashed;
    border-left: solid;
    border-right: solid;
}

footer {
    padding: 5px;
}

@media screen and (max-width:768px) {
    #imgs img {
        width: 100%;
    }
}